<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<img src="{{.Photo}}" id="photo" width="200px" alt="用户头像" />
<p>{{.Username}}</p>
<p>email: {{.Email}}</p>
</body>
</html>